@media (max-width: 600px) {
  .Cover-Tagline {
    /* color: red!important; */
    font-size: 60px!important;
    transition: 0.3s;
  } 
}


/* @media (max-width: 800px) {
  .Cover-Tagline {
    color: red!important;
    font-size: min(200px, 1.5rem);
    width: 40%;
    transition: 0.3s;
  } 
} */